.node.svelte-f7bcdt{position:absolute;display:inline-block;transform:translate(-50%, -50%)}
.apexcharts-tooltip,
.apexcharts-tooltip.active
{transition:none !important;background-color:transparent !important;transform:translate(0, 1.5em) !important}
.apexcharts-marker
{transition:none !important}.apexcharts-yaxistooltip{background-color:transparent !important;border:none !important;transform:translate(1.2em, -.5em);transition:none !important}.apexcharts-xaxistooltip{background-color:transparent !important;border:none !important;transform:translate(3em, -.7em);transition:none !important}
.apexcharts-yaxistooltip:before, 
.apexcharts-yaxistooltip:after, 
.apexcharts-xaxistooltip:before, 
.apexcharts-xaxistooltip:after{display:none !important} .custom-tooltip {background-color:#fffA !important}.is_streaming_marker{animation:svelte-foiadf-blinker 1s linear infinite}.is_streaming_label{animation:svelte-foiadf-blinker 1s linear infinite}@keyframes svelte-foiadf-blinker{50%{opacity:0}}